* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: Verdana,Arial;
}
#logo-consejeria {
  display: block;
  width: 400px;
  height: 75px;
  background: transparent url(../imagenes/cabecera.png) no-repeat;
}
#logo-consejeria span {
  display: none;
}
#head {
  width: 100%;
  height: 90px;
  background: transparent url(../imagenes/headshadow.png) repeat-x;
}
#body {
  width: 700px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #008348;
  padding: 10px;
  padding-bottom: 20px;
  background: white url(../imagenes/bodyshadow.png) repeat-x bottom;
}
#foot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background: transparent url(../imagenes/footshadow.png) repeat-x;
  text-align: center;
  color: white;
  font-size: 12px;
}

#usuario {
  border: 1px solid black;
  position: absolute;
  top: 40px;
  right: 20px;
  padding: 5px;
  background: transparent url(../../iconos/16x16/system-users.png) no-repeat 2px center;
  padding-left: 20px;
}
#usuario a {
  margin-left: 10px;
}

body {
  background: transparent url(../imagenes/fondo.png);
}
h1 {
  color: #008348;
  border-bottom: 1px dotted #008348;
  margin-bottom: 10px;
  font-size: 1em;
}

hr {
        border: 0px;
        height: 1px;
        border-bottom:1px dotted #3EB049;
        margin-top: 40px;
        margin-bottom: 10px;
}
