.boton {
        text-align: center;
        background: transparent none;
        border: 0px;
        width: 100px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        padding-top: 30px;
        text-decoration: none;
}

.boton:hover {
        cursor: pointer;
}

.boton.login { background: transparent url(../../iconos/32x32/contact-new.png) no-repeat top center; }
.boton.certificado { background: transparent url(../../iconos/32x32/application-certificate.png) no-repeat top center; }
.boton.nuevo { background: transparent url(../../iconos/32x32/document-new.png) no-repeat top center; }
.boton.guardar { background: transparent url(../../iconos/32x32/document-save.png) no-repeat top center; }
.boton.volver { background: transparent url(../../iconos/32x32/go-previous.png) no-repeat top center; }

